.ipynb_checkpoints/
env/
local_images
.DS_Stor
results/*
Preprocessing/output_patches/patch_size/*
Preprocessing/input_images/testingModel/*
Preprocessing/testingModel_output_patches/*
Preprocessing/dataset/32X32/*