.ipynb_checkpoints/
env/
local_images
.DS_Stor
__pycache__/
Preprocessing/dataset/32X32/*
Preprocessing/output_patches/patch_size/*
Preprocessing/input_images/testingModel/*
Preprocessing/testingModel_output_patches/*
VideoProcessing/frames/*
VideoProcessing/videos/inputVideos/*
VideoProcessing/dataset/slidingWindow/32X32/*
VideoProcessing/results
VideoProcessing/EDA_data/*
